<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUri" value="https://api.bondora.com" />
    <add key="OAuthAuthorizeUri" value="https://www.bondora.com/oauth/authorize" />
    <add key="ClientId" value="d189953b9c8142819ec05fba78435096" />
    <add key="ClientSecret" value="OdE42jgfUPEOZD7h5cFcGGuIcpW58liRloOzSflvtx6eo6bp" />
    <add key="RedirectUri" value="" />
    <add key="OAuthScopes" value="BidsEdit,BidsRead,Investments,SmBuy,SmSell" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>